li {
    color: rgb(124, 21, 21);
    background-color: #c0fca0;
}

#my-darling-tag {
    color: #000;
    background-color: rgb(164, 119, 241);
}

.my-darling-class {
    color: #053d56;
    background-color: rgb(229, 173, 44);
}

li.my-darling-class {
    color: #053d56;
    background-color: rgb(137, 26, 26);
}

#profile-pic {
    width: 10px;
    border-radius: 50%;
}

.bold-text {
    font-weight: bold;
    color: rgb(26, 26, 26);
}

#paragraph-with-border {
    border: 2px dashed rgb(26, 26, 26);
    padding: 10px 60px 30px 0;
    margin: 10px 60px 30px 0;
}

#my-darling-div {
    border: 2px dashed rgb(26, 26, 26);
}

#my-link {
    background-color: rgb(21, 73, 185);
}

#inline-paragraph {
    display: inline;
}

.finished-task {
    text-decoration: line-through;
    color: rgb(93, 93, 93);
}

.unfinished-task {
    color: rgb(0, 0, 0);
}
#map-container {
    position: ;
    width: 100%;
    height: 500px; /* adjust as needed */
}

#map {
    position: absolute;
    width: 100%;
    height: 100%;
}


/* #my-location-btn {
    position: absolute;
    top: 90px;      
    left: 8px;     
    z-index: 1000; 
    width: 10px;
    height: 10px;
    padding: 0;
    border: none;
    background: #f3f3f3;
    cursor: pointer;
} */

#my-location-btn {
    position: absolute;
    top: 80px;
    left: 8px;
    z-index: 1000;

    width: 40px;
    height: 40px;
    padding: 4px;

    background: rgba(255,255,255,0.8);
    border: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
    cursor: pointer;
}

#my-location-btn svg {
    width: 10%;
    height: 10%;
}